@media (max-width: 1540px) {
	.parent-link {
		padding: 0 20px;
	}
	.content-over-video-image {
		width: 160px;
	}
	.content-over-video-title{
		font-size: 48px;
		line-height: 48px;
	}
}

@media (max-width: 1200px) {
	ul li:hover > ul,
	ul li ul:hover {
		visibility: visible;
		opacity: 1;
		display: block;
		position: absolute;
	}
	.header-navbar-ul {
		display: none;
	}
	.header-toggle-menu {
		display: block;
	}
	.header-navbar-buttons {
		justify-content: flex-end;
		width: 100%;
	}
	.content-over-video-title{
		font-size: 36px;
		line-height: 36px;
	}
	.slider2-img-wrapper {
		display: none;
	}
}

@media (max-width: 992px) {
	.header-navbar-nav {
		justify-content: flex-end;
	}
	.content-over-video {
		height: 60%;
	}
	.content-over-video-image img {
		width: 100px;
	}
	.content-over-video-description{
		font-size: 32px;
		margin-bottom: 2rem;
	}
	.section-2-left {
		width: 100%;
	}
	.section-2-right {
		display: none;
	}
}

@media (max-width: 768px) {
	.child-ul {
		padding: 0;
	}
	.content-over-video-desc{
		margin: 0 20px;
	}
	.content-over-video-image {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.content-over-video {
		height: 50%;
	}
	.section-6-block-border {
		border: none;
	}
}

@media (max-width: 576px) {
	.header-recall-btn {
		display: none;
	}
	.content-over-video-title{
		font-size: 24px;
		line-height: 24px;
	}
	.content-over-video-description{
		font-size: 16px;
		line-height: 24px;
	}
	.content-over-video-button {
		font-size: 9px;
	}
}