@font-face {
  font-family: 'StyreneALC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/StyreneALC-Regular.otf');
}

@font-face {
  font-family: 'StyreneALC';
  font-style: medium;
  font-weight: 500;
  src: url('../fonts/StyreneALC-Medium.otf');
}

body {
	font-family: 'StyreneALC';
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

hr {
	background-color: #CACED0;
	border-top: 1px solid #CACED0;
}

button:focus {
	outline: none;
}

.opacity05 {
	opacity: 0.5;
}

header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	min-height: 96px;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.header-logo-wrapper {
	display: flex;
	justify-content: center;
	width: 96px;
	height: 96px;
	background-color: #fff;
}

.header-search-block {
	width: 120px;
}

.header-search-block:hover {
	cursor: pointer;
	background-color: #EAEAEA;
}

.header-navbar-nav {
	flex-basis: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: flex;
}

.header-navbar-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin-right: auto!important;
}

.header-navbar-ul-li {
	position: relative;
	cursor: pointer;
}
.header-navbar-buttons {
	display: flex;
	height: 100%;
}

.parent-link {
	padding: 0 38px;
	color: #272324;
	opacity: 0.5;
	text-transform: uppercase;
	text-decoration: unset;
	font-size: 12px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
}
header li:hover .parent-link {
	color: #EE1D2D;
	opacity: 1;
}

header li .child-link {
	display: flex;
	padding: 8px 24px;
	color: #353B50;
	text-decoration: unset;
	font-size: 12px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
}

.child-ul {
	max-height: 665px;
	overflow-y: auto;
}

.child-ul li:hover {
	background-color: #eee;
}
.child-ul li:hover .child-link {
	color: #EE1D2D;
	opacity: 1;
}

.child-link-inner {
	padding: 8px 24px;
	color: #353B50;
	opacity: 0.5;
	text-decoration: unset!important;
	font-size: 12px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
}

.child-ul li:hover {
	background-color: #eee;
}
.child-ul li:hover .child-link-inner {
	color: #EE1D2D;
	opacity: 0.5;
}

.child-ul {
	padding: 15px 0;
	margin-bottom: 0;
	list-style: none;
	background: #fff;
  transition: all 0.5s ease;
}

.child-ul-big {
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 320px;
	position: absolute;
	top: 96px;
	left: 0;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
	position: absolute;
}

ul li ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 40px;
	clear: both;
  width: 100%;
}

.header-toggle-menu {
	width: 120px;
	display: none;
}

.mobile-menu {
	max-height: 760px;
	overflow-y: auto;
	position:absolute;	
	width:100%;	
	background: #fff;
}

.mobile-menu-info {
	position: absolute;
	bottom: 0;
	color: #272324;
	opacity: 0.5;
}

.header-recall-btn {
	background-color: #EE1D2D;
	color: #FBFBFB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
}

.header-recall-btn:hover {
	background-color: #d41927;
}

.content-over-video-image {
	margin-right: 10%;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.vertical-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.cursor-pointer {
	cursor: pointer;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover; */
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #26282e;
	opacity: 0.48;
  z-index: 2;
}
.content-over-video {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content-over-video-title {
	font-size: 64px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 3rem;
}

.content-over-video-description {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #FBFBFB;
	margin-bottom: 4rem;
}

.content-over-video-button {
	background: none;
	color: inherit;
	border: 1px solid #FBFBFB;
	text-transform: uppercase;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 2px;
}

.content-over-video-button:hover {
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.section-2 {
	background-color: #EDEDED;
}

.section-2-left {
	width: 50%;
	margin: 50px 0;
	position: relative;
}

.section-2-left-bg {
	position: absolute;
	top: -70px;
	right: 0;
}

.section-2-right {
	width: 50%;
	background-size: cover;
	overflow: hidden;
	/* clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%); */
}

.img-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #233B57;
	opacity: 0.16;
}

.section-breadcrumbs {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	color: #272324;
	opacity: 0.32;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: left;
}

.section-2-title {
	color: #272324;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
}

.section-2-description {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: #272324;
	opacity: 0.5;
}

.button-danger {
	background: none;
	color: inherit;
	color: #EE1D2D;
	border: 1px solid #EE1D2D;
	text-transform: uppercase;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 2px;
	display: flex;
	justify-content: space-between;
	width: 320px;
}

.section-3 {
	background-image: url('../images/section_3_figure.svg');
	background-repeat: no-repeat;
	background-color: #E9E7E6;
}

.section-3-title {
	color: #EE1D2D;
	/* font-size: 48px; */
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.section-3-description {
	color: #EE1D2D;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.section-3-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: #272324;
	opacity: 0.5;
}

.section-3-block-icon-wrapper {
	position: absolute;
	width: 64px;
	height: 120px;
}
.section-3-block-icon {
	background-image: url('../images/red_element.svg');
	height: 120px;
	background-repeat: no-repeat;
}
.section-3-block-content {
	padding-left: 80px;
}
.section-3-block-body{
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 40px;
}
.section-3-block-body h1, p {
	margin: 0;
}

.section-4 {
	background-color: #EDEDED;
}

.product-type {
	bottom: -5px;
	position: relative;
	height: 600px;
	overflow: hidden;
	background-size: cover;
}

.product-type-img {
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: transform .8s linear;
	-moz-transition: transform .8s linear;
	-o-transition: transform .8s linear;
	transition: transform .8s linear;
}

.product-type-bg-overlay {
	right: 0;
}

.section-5 {
	background-color: #E9E7E6;
	position: relative;
}

.section-5-news-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}

.section-5-news-title:hover {
	color: #EE1D2D;
	cursor: pointer;
}

.section-5-news-date {
	opacity: 0.32;
}

.all-news-button {
	background: none;
	color: inherit;
	border: 1px solid #353B50;
	text-transform: uppercase;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 2px;
	width: 320px;
}

.all-news-button:hover {
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.section-6-blocks {
	min-height: 120px;
}

.section-6-block-border {
	border-right: 1px solid #CACED0;
}

.slider2 {
	height: 322px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider2-content {
	color: #fff;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

.slider-2-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #233B57;
	opacity: 0.5;
}

.slider3 {
	height: 500px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

.slider2-img-wrapper {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	height: 100%;
}

.slider2-img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.page-px {
	padding: 0 5%;
}

.page-px-custom {
	padding: 0 2%;
}

/* .red-element {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}

.red-element::before {
	margin-right: 30px;
	content:url('../images/red_element.svg');
} */

footer {
	background-color: #313539;
	color: #fff;
}

footer ul {
	color: inherit;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}

footer ul li {
	margin-bottom: 1rem;
}

footer ul li a {
	color: #fff;
	opacity: 0.5;
}

footer ul li a:hover {
	color: #fff;
	opacity: 1;
}

footer .contacts {
	color: #E54B4B;
}

.footer-icon {
	padding: 5px;
	background-color: #33373D;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.footer-icon:hover img {
 opacity: 1;
}

.footer-icon img {
	opacity: 0.5;
}


.arched-hangars-lr-image {
	margin: auto auto;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: contain;
	/* clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%); */
}

.table thead th {
	border: 2px solid #ffffff;
}

table th {
	background-color: #E9E7E6;
	color: #353B50;
	opacity: 0.5;
	font-size: 18px;
	font-weight: 400;
}

.table th, .table td {
	border: none;
}

.table td {
	color: #353B50;
}

/* ABOUT */
.about-img-overlay {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #373E54;
	opacity: 0.32;
  z-index: 1;
}

.icons-block {
	min-height: 288px;
}

.about-img-content {
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	color: #FBFBFB;
}