.bg-f2 {
	background-color: #F2F2F2;
}

.bg-ff {
	background-color: #FFFFFF;
}

.bg-ea {
	background-color: #EAEAEA;
}

.bg-1 {
	background-color: #E9E7E6;
}

.bg-2 {
	background-color: #EDEDED;
}

.bg-3 {
	background-color: #E7E5E5;
}

.color-white {
	color: #fff;
}

.color-danger {
	color: #EE1D2D;
}

.color-1 {
	color: #353B50;
}

.color-2 {
	color: #FBFBFB;
}

.main-color {
	color: #272324;
}

.title-color {
	color: #272324;
}

.mt96 {
	margin-top: 96px;
}

.padding-lr7 {
	padding: 0 7%;
}